.absolute {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 200px;
    height: 150px;
    background-color: aqua;
}
.contenitore {
    width: 500px;
    height: 1000px;
}
.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 100px;
    background-color: blueviolet;
}
.sticky {
    position: sticky;
    top: 50px;
    width: 100px;
    height: 100px;
    background-color: blue;
}